.layout-text {
  margin: 0;
}
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-container {
  background-color: bisque;
  flex-grow: 0.5;
}
.content-wrapper,
.content-container {
  display: flex;
}

.content-container {
  flex: 3 0 auto;
  flex-wrap: wrap;
}

.sidebar-wrapper,
.ads-wrapper {
  flex: 0.5 0 auto;
  min-width: 250px;
}

.content-wrapper {
  flex: 2 0 auto;
  flex-wrap: wrap;
  min-height: 250px;
}

.content-wrapper {
  justify-content: space-around;
  align-items: center;
  background-color: darkblue;
}

.footer-container {
  background-color: blueviolet;
  flex-basis: 10%;
}
