* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}
.newsletter-wrapper {
  font-family: "Inter", sans-serif;
  margin: 100px 60px;
}

/* start of header styles */

.header-section {
  display: flex;
  flex-direction: column;
}
.tag-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  font-size: 14vw;
}

.div-line {
  height: 5px;
  background-color: black;
}

/* start of top section of content */

.top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}

.top-left-text {
  /* flex: 1 1 70%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}
.top-left-photo {
  max-width: 600px;
  max-height: 150px;
  object-fit: cover;
  min-height: 0;
}
.top-photo-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  /* flex: 1 1 90%; */
}
.top-right-photo {
  max-width: 240px;
  height: 525px;
  object-fit: cover;
  min-width: 0;
}

/* start of middle section */

.middle-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.sub-heading {
  align-self: center;
  font-size: 4vw;
  text-transform: uppercase;
}

/* start of bottom section */

.bottom-section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 20px;
}
.bottom-section-img {
  width: 100%;
  object-fit: contain;
}
.bottom-image-container {
  flex: 1 1 40%;
}

.bottom-text-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 90%;
  gap: 10px;
}

.site-link {
  align-self: flex-end;
}
