* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.newsletter-wrapper {
  font-family: "Inter", sans-serif;
  margin: 100px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
}

/* start of header styles */

.header-section,
.middle-section,
.top-left-text,
.bottom-text-container {
  display: flex;
  flex-direction: column;
}

.tag-section,
.top-section,
.top-photo-section,
.bottom-section {
  display: flex;
  flex-direction: row;
}

.tag-section {
  justify-content: space-between;
}

.heading {
  font-size: 13vw;
}

.div-line {
  height: 5px;
  background-color: black;
}

/* start of top section of content */

.top-section {
  gap: 10px;
  line-height: 1.5;
}

.top-left-text {
  /* flex: 1 1 70%; */
  gap: 20px;
}

.top-left-photo {
  max-width: 700px;
  max-height: 150px;
  object-fit: cover;
  min-height: 0;
}

.top-photo-section {
  width: 70%;
  gap: 10px;
  /* flex: 1 1 90%; */
}

.top-right-photo {
  max-width: 240px;
  height: 525px;
  object-fit: cover;
  min-width: 0;
}

/* start of middle section */

.middle-section {
  line-height: 1.5;
  gap: 20px;
}

.sub-heading {
  align-self: center;
  font-size: 3.8vw;
  text-transform: uppercase;
}

/* start of bottom section */

.bottom-section {
  gap: 20px;
  line-height: 1.5;
}

.bottom-section-img {
  width: 100%;
  object-fit: contain;
}

.bottom-image-container {
  flex: 1 1 50%;
}

.bottom-text-container {
  flex: 1 1 90%;
  gap: 20px;
}

.site-link {
  align-self: flex-end;
}
