* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  margin: 80px 20px;
}
.newsletter-wrapper {
  font-family: "Inter", sans-serif;
  /* margin: 100px 60px; */
  max-width: 90%;
}

/* start of header styles */

.header-section {
  display: flex;
  flex-direction: column;
}
.tag-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  font-size: 9rem;
  align-self: center;
}

/* start of top section of content */

.top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.top-left-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-left-photo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: -20% 0;
}
.top-photo-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 50%;
}
.top-right-photo {
  max-width: 240px;
  height: 500px;
  object-fit: cover;
  object-position: 50%;
}

/* start of middle section */

.middle-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.sub-heading {
  align-self: center;
  font-size: 2.9rem;
  text-transform: uppercase;
}

/* start of bottom section */

.bottom-section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 20px;
}
.bottom-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -20% 0;
}
.bottom-image-container {
  width: 60%;
}

.bottom-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.site-link {
  align-self: flex-end;
}
