<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 5</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="layout-wrapper">
      <div class="header box"><p>Header</p></div>
      <div class="nav box"><p>Navigation</p></div>
      <div class="aside box"><p>Aside</p></div>
      <div class="content box"><p>Content</p></div>
      <div class="section box"><p>Section</p></div>
      <div class="footer box"><p>Footer</p></div>
    </div>
  </body>
</html>
