body {
  background-color: rgb(221, 221, 221);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.trail-card {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  color: rgb(32, 32, 56);
}

.card-title {
  font-size: 1.85rem;
  padding-left: 20px;
  font-weight: 500;
}
.card-text {
  padding: 20px;
  font-size: 1.2rem;
  margin-top: -35px;
}
.card-img {
  width: 100%;
  height: 250px;
}
