<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 1</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="layout-wrapper">
      <div class="header"><h1>Header</h1></div>
      <div class="aside-1"><h2>Aside 1</h2></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fuga
          cumque magni illum vel iure, at quos ipsum quas adipisci, quia ipsam
          est ut sapiente recusandae quasi omnis ad in?
        </p>
      </div>
      <div class="aside-2"><h2>Aside 2</h2></div>
      <div class="footer"><h2>Footer</h2></div>
    </div>
  </body>
</html>
