<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 4</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="layout-wrapper">
      <div class="box img-1"><p>Image 1</p></div>
      <div class="box img-2"><p>Image 2</p></div>
      <div class="box img-3"><p>Image 3</p></div>
      <div class="box img-4"><p>Image 4</p></div>
      <div class="box img-5"><p>Image 5</p></div>
      <div class="box img-6"><p>Image 6</p></div>
      <div class="box img-7"><p>Image 7</p></div>
      <div class="box img-8"><p>Image 8</p></div>
      <div class="box img-9"><p>Image 9</p></div>
    </div>
  </body>
</html>
