body {
  font-family: Arial, Helvetica, sans-serif;
}
.letter-r {
  color: red;
}
.letter-a {
  color: orange;
}
.letter-i {
  color: yellow;
}
.letter-n {
  color: green;
}
.letter-b {
  color: blue;
}
.letter-o {
  color: purple;
}
.letter-w {
  color: pink;
}

.heading {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.container-title {
  color: white;
  font-weight: 600;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
}

.yellow-title {
  color: black;
}

.container {
  width: 100%;
  height: 300px;
}
.container-red {
  background-color: red;
}
.container-orange {
  background-color: orange;
}
.container-yellow {
  background-color: yellow;
}
.container-green {
  background-color: green;
}
.container-blue {
  background-color: blue;
}
.container-indigo {
  background-color: indigo;
}

.container-violet {
  background-color: violet;
}

.pokemon-img {
  width: 200px;
  height: 200px;
  padding-left: 20px;
}
