<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 2</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="layout-wrapper">
      <div class="header center"><h1>Header</h1></div>
      <div class="aside center"><h2>Aside</h2></div>
      <div class="article-wrapper">
        <div class="article">
          <h2>Article</h2>
          <div class="img-box center">
            <div class="box center"><p>Image</p></div>
            <div class="box center"><p>Image</p></div>
            <div class="box center"><p>Image</p></div>
          </div>
        </div>
      </div>
      <div class="footer center"><h2>Footer</h2></div>
    </div>
  </body>
</html>
