video {
  @apply block w-full;
}

a:link {
  @apply no-underline;
}
a:visited {
  @apply no-underline text-[black];
}
a:hover {
  @apply no-underline;
}
a:active {
  @apply no-underline;
}

.material-symbols-outlined {
  @apply text-[black] align-middle mr-[5px];
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 16;
}

.youtube-card {
  @apply max-w-[900px] h-[600px] mx-[15px] my-[30px];
  font-family: "Roboto", sans-serif;
}

.youtube-video {
  @apply mb-[-5px] rounded-xl;
}
.video-title {
  @apply text-xl font-semibold;
}

/* creator info section starts here */

.creator-info-wrapper {
  @apply flex flex-row justify-between items-center flex-wrap gap-y-2.5 gap-1.5 -mt-2.5 mb-auto mx-auto;
}

.creator-data-left {
  @apply flex;
}
.profile-pic {
  @apply w-[45px];
}
.profile-info {
  @apply flex flex-col gap-x-[3px];
}
.item {
  @apply justify-center ml-2.5 mr-[30px] my-auto;
}
.video-creator {
  @apply font-medium text-base cursor-pointer pb-[3px];
}
.video-subscriber-count {
  @apply text-xs font-normal text-[rgb(83,83,83)];
}

.join-btn {
  @apply w-[60px] h-[35px] self-center mr-1.5;
}
.subscribe-btn {
  @apply w-[90px] h-[35px] bg-[black] text-[white] self-center;
}

.sub-hover:hover {
  @apply bg-[rgb(45,45,45)];
}

/* right hand side  engagement buttons section starts here */

.engagement-btns-right {
  @apply flex flex-row gap-1.5;
}

.btn {
  @apply font-semibold cursor-pointer px-3 py-1.5 rounded-[30px] border-[none];
}
.eng-hover:hover {
  @apply bg-[rgb(225,225,225)];
}

.like-btn {
  @apply -mr-1 rounded-tr-none rounded-br-none border-r-[rgb(189,189,189)] border-r border-solid;
}

.dislike-btn {
  @apply rounded-tl-none rounded-bl-none;
}
.more-btn {
  @apply cursor-pointer p-0.5 rounded-[50%] border-[none];
}

.more-btn:hover {
  @apply bg-[rgb(225,225,225)];
}
.more-icon {
  @apply ml-[5px];
}

/* more information section about the video playing starts here */

.video-info-wrapper {
  @apply bg-[rgb(241,241,241)] text-[0.85rem] mx-auto my-2.5 p-[15px] rounded-[10px];
}
.info-first {
  @apply mr-[3px];
}
.info-bold {
  @apply font-medium;
}
.more-link {
  @apply font-medium cursor-pointer;
}
