p {
  font-size: 1.5rem;
}

.layout-wrapper {
  background-color: lightblue;
  height: 85vh;
  padding: 30px;
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr 0.25fr;
  grid-template-rows: 1.35fr 1fr 1fr 1fr;
  gap: 25px;
  grid-template-areas: "img-1 img-1 img-2 img-7" "img-1 img-1 img-3 img-7" "img-4 img-5 img-5 img-7" "img-6 img-8 img-9 img-7";
}

.box {
  background-color: rgb(247, 208, 75);
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

.img-1 {
  grid-area: img-1;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
}
.img-5 {
  grid-area: img-5;
}
.img-6 {
  grid-area: img-6;
}
.img-7 {
  grid-area: img-7;
}
.img-8 {
  grid-area: img-8;
}
.img-9 {
  grid-area: img-9;
}
